DATABASE_URL="postgresql://neondb_owner:npg_uL0eNCJj2nHw@ep-raspy-sun-a1za3jtv.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
PORT=4000
CORS_ORIGIN="http://localhost:5173"
NODE_ENV=development
DEFAULT_USER_ID=user_default
